


@font-face {
    font-family: 'Montserrat-Arabic-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-Light'), url('../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Arabic-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-Medium'), url('../fonts/ArbFONTS-Montserrat-Arabic-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Arabic-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-Bold'), url('../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Arabic-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-Regular'), url('../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Arabic-Black';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-Black'), url('../fonts/ArbFONTS-Montserrat-Arabic-Black.ttf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Arabic-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Arabic-SemiBold'), url('../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf') format('opentype');
}

body{
    font-family: 'Montserrat-Arabic-Regular' !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat-Arabic-Regular' !important;
}
.left-overlay-secondary[data-overlay-dark]:before {
    background: linear-gradient(90deg, transparent, #4d4b4c 65%);
}
body{
    direction: rtl;
    text-align: right;
}
.owl-carousel{
    direction: ltr;
}
.owl-carousel .item{
    direction: rtl;
    text-align: right;
}
.card-style1{
    direction: rtl;
}
.menu_area .navbar-brand{
    right: 0;
    left: inherit;
}
.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.navbar-nav>li.has-sub{
    padding-left: 25px;
    padding-right: 0;
}
.navbar-nav>li.has-sub .submenu-button{
    position: absolute;
    left: 0;
}
.navbar-nav ul{
    right: -9999px;
    left:inherit;
}

.navbar-nav ul.sub-menu.open{
    right: 0;
}
.navbar-expand-lg .navbar-nav,
.top-bar-info{
    padding-right: 11em;
    padding-left: 0;
}
.ps-0 {
    padding-right: 0 !important;
}
.top-bar-info li i{
    margin-left: 8px;
    margin-right: 0;
}
.slider-fade .small-title{
    padding-right: 15px;
    padding-left: 0;
}
.slider-fade .small-title:before,.slider-fade .small-title:after{
    right: 0;
    left: inherit;
}
.ms-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
}
.ms-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
}
.section-title .sm-title{
    padding-right: 10px;
    padding-left: 0;
}
.section-title .sm-title:before ,
.section-title .sm-title::after{
    right: 0;
    left: inherit;
}
.right {
    right: inherit;
    left: 0;
}
.about-shape{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.ms-1 {
    margin-left: 0 !important;
    margin-right: 0.25rem !important;
}
@media (min-width: 1200px){
    .ms-xl-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 992px){
    .ps-lg-2-3, .px-lg-2-3 {
        padding-right: 2.3rem;
        padding-left: 0;
    }
    .offset-lg-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
    }
    .offset-lg-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
    }
}
@media screen and (max-width: 991px){
    .navbar-toggler {
    
    }
}
