/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (max-width:1700px) {
}

@media only screen and (max-width:1600px) {

}

@media only screen and (max-width:1500px) {

}

@media only screen and (max-width:1440px) {

}

@media only screen and (max-width:1400px) {

}

@media only screen and (max-width:1366px) {

}

/*  (min-width:1280px)+++ */
@media only screen and (max-width:1280px) {

}

/*  (min-width:1200px)+++ */
@media only screen and (min-width:1200px) {
}

/*  (max-width:1200px)+++ */
@media only screen and (max-width:1200px) {

}

/* (min-width:992px) (max-width: 1199.98px) // Large devices (desktops, less than 1200px) */
@media only screen and (min-width:992px) and (max-width: 1199.98px) {/* ExTra Class Start*/
  .header-logo img{
    width: auto;
    height: 30px;
  }
  header.nav-innerpage-style .ace-responsive-menu a{
    font-size: 11px;
  }
  header.nav-innerpage-style .ace-responsive-menu .megamenu_style a.list-item, header.nav-innerpage-style .ace-responsive-menu .visible_list a.list-item {
    padding: 10px ;
  }
  .social-header{
    gap: 7px;
  }
  .social-header li img {
    width: 15px;
    height: 15px;
  }
  header.nav-innerpage-style{
    padding: 15px 10px;
  }
  .sidemenu-btn{
    width: 25px;
    height: 25px;
    font-size: 10px;
    border-radius: 5px;
    padding: 3px;
  }
  .hero-title-bg{
    padding: 20px 30px;
    font-size: 30px;
  }
  .hero-title{
    font-size: 32px;
  }
  .gift_video img{
    height: 250px;
  }
  .dark-light-navtab .nav-link{
    font-size: 14px;
    padding: 10px 17px;
  }
  .sp-img-content.gallery-img-content .sp-img {
    height: 250px;
  }
  .feature-style1-2 img{
    height: 300px;
  }
  .stroke-text{
    font-size: 140px;
    line-height: 150px;
    padding-top: 30px;
  }
  .container-consultation {
    padding-left: 45px;
  }
  .schedule-check{
    width: 90%;
  }
  .schedule-check .selection_item label{
    gap: 5px;
    line-height: 15px;
  }
}

@media only screen and (max-width:992px) {
    .slider-text{
        width: 100%;
        font-size: 16px;
        line-height: 25px;
    }
    .slider-slide-item{
        height: 300px;
    }
    .hero-title{
        font-size: 25px;
        margin-bottom: 10px !important;
        line-height: 30px;
    }
    .funfact_one .details .timer {
        width: 60px;
        height: 60px;
        padding: 10px;
        font-size: 18px;
        margin: 0 auto 5px;
    }
    .funfact_one .details p {
        font-size: 17px;
        line-height: 26px;
    }
    .funfact_one .details{
        margin: 0 auto;
    }
    .faq-img{
        margin-bottom: 20px;
    }
    .mb50 {
        margin-bottom: 20px !important;
    }
    .career-images{
        margin-top: 20px;
    }

    .feature-style1 img{
        height: 200px;
    }
    .feature-style1-2 img{
        height: 300px;
    }
    .feature-style1 .top-area{
        padding: 10px 15px;
    }
    .feature-style1 .top-area h4 {
        font-size: 15px;
        line-height: 25px;
    }

    .home-contact-form{
        padding: 20px;
    }
    .form-style1 .form-control ,.form-style1 .add-rate{
        height: 45px;
        padding: 10px;
    }
    .bootselect-multiselect .btn{
        height: 45px;
        line-height: 22px;
        padding: 10px;
    }
    .projects-slider .owl-dots {
        justify-content: center;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, -50%);
    }
    .hero-subtitle{
        font-size: 14px;
    }
    .schedule-check{
        width: 100%;
    }
}


@media only screen and (min-width:768px) and (max-width:991.9px) {
    .cta-img img {
        width: 100%;
        height: 350px;
    }
    .our-about {
        padding-bottom: 150px !important;
    }
    .hero-title-bg{
        margin: 0;
        font-size: 30px;
        padding: 10px 20px;
        top: 15px;
    }
    .gift_video img{
        height: 200px;
    }
    .join-content h4 {
        font-size: 22px;
        line-height: 32px;
    }
    .join-content{
        width: 100%;
        margin: 0 auto ;
    }
    .join-image img{
        height: 230px;
    }
    .our-testimonial{
        padding: 50px 0 350px;
    }
    .footer-logo img {
        width: 150px;
        height: 150px;
    }

    .dark-light-navtab .nav-link{
        font-size: 14px;
    padding: 6px 9px;
    }
    .sp-img-large{
        height: 400px;
    }
    .sp-img-small{
        height: 200px;
    }
    .project-item img {
        height: 400px;
    }
    .project-image-border img{
        height: 350px;
    }
    .plan-image-border img{
        height: 200px;
    }
    .palette-groups{
        margin-bottom: 20px;
    }
    .project-image-border-bg img{
        height: 350px;
    }
    .project-photos img{
        height: 250px;
    }
    .images-boards img{
        height: 250px !important;
    }
    .service-style {
        width: 100%;
        height: 250px;
        margin-bottom: 0;
    }
    .project-service img {
        height: 200px;
    }
    .project-service a{
        font-size: 20px;
    }
    .breadcumb-style1 .title{
        font-size: 24px;
    }
    .fz26 {
        font-size: 23px;
    }
    .stroke-text{
        font-size: 90px;
        line-height: 100px;
        padding-top: 30px;
    }
    .container-consultation {
        padding-left: 30px;
    }
    .consultation-image img{
        height: 200px;
    }
    .schedule-check .selection_item label{
        gap: 6px;
        line-height: 16px;
    }
}

/* Small devices (min-width: 576px) (max-width: 767.98px) // (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {/* ExTra Class Start*/
    .rightside-hidden-bar {
        max-width: 250px;
        top: 0;
        left: 0;
        right: inherit;
        border-radius: 0;
    }
    .career-images .img1 {
        width: 90%;
        height: 86px;
    }
    .career-images .img2 {
        width: 100%;
        height: 100px;
    }
    .career-images .img3 {
        width: 100%;
        height: 85px;
    }
    .career-images .img4 {
        width: 90%;
        height: 100px;
    }
    .our-cta {
        padding: 40px 0;
    }
    .hero-title-bg{
        margin: 0 0 6px;
        padding: 10px;
        font-size: 23px;
        position: absolute;
        top: 20px;
    }
    .pb70 {
        padding-bottom: 30px !important;
    }
    .mission-content-item img {
        width: 100px;
        height: 100px;
    }
    .mission-content h4{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .faq-img img{
        height: 150px;
    }
    .mb30 {
        margin-bottom: 20px !important;
    }

    .accordion-style1 .accordion-item{
        padding: 10px;
    }
    .accordion-style1 .accordion-button{
        font-size: 15px;
    }
    .join-image img{
        height: 120px;
    }
    .join-content{
        width: 100%;
        margin: 20px auto 0;
    }
    .join-content h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .our-testimonial{
        padding: 40px 0 350px;
    }
    .testimonial-style1 .text{
        font-size: 15px;
    }
    .testimonial-style1 .thumb img {
        width: 40px;
        height: 40px;
    }
    .testimonial-style1 .thumb h6{
        font-size: 16px;
        line-height: 20px;
    }
    .footer-logo img {
        width: auto;
        height: 100px;
    }
    .scrollToHome.show{
        right: 20px;
    }
    .accordion-style1 .accordion-body{
        font-size: 14px;
        line-height: 20px;
    }
    .gift_video img{
        height: 200px;
    }
    .cta-img{
        right: 10px;
        opacity: 0.5;
    }
    .cta-img img {
        width: auto;
        height: 200px;
    }
    .our-about{
        padding-bottom: 40px !important;
    }
    .breadcumb-style1 .title{
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    .dark-light-navtab .nav-link{
        font-size: 14px;
        padding: 6px 10px;
    }
    .sp-img-content.gallery-img-content .sp-img{
        height: 200px;
    }
    .menu-container .submenu{
        left: 0;
        right: inherit;
    }
    .sub-submenu{
        left: 40px;
        right: inherit;
        top: 50px;
    }
    .post-title{
        font-size: 22px;
        line-height: 30px;
    }
    .post-img {
        height: 200px;
    }
    .breadcumb-style1{
        flex-wrap: wrap;
    }
    .search_area{
        width: 100%;
        margin: 10px 0 0;
    }
    .sp-img-large{
        height: 250px;
    }
    .sp-img-small{
        height: 100px;
    }
    .project-item h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .btn-sm {
        padding: 4px 10px;
    }
    .project-item img {
        height: 200px;
    }
    .project-image-border img{
        height: 220px;
    }
    .project-image-border, .plan-image-border {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .project-image-border .bottom-area ,
    .project-image-border .bottom-area a ,
    .project-before-after .bottom-area , 
    .project-before-after .bottom-area a{
        font-size: 14px;
    }
    .project-image-border .bottom-area {
        bottom: 10px;
        padding: 6px;
        gap: 5px;
    }
    .project-before-after .bottom-area{
        bottom: 0px;
        padding: 6px;
        gap: 5px;
    }
    .plan-image-border img{
        height: 150px;
    }
    .plan-image-border{
        margin-right: 0 !important;
    }
    .fz26 {
        font-size: 22px;
    }
    .palette-item{
        width: 150px;
        padding: 5px;
    }
    .palette-item .color {
        width: 100%;
        height: 100px;
    }
    .palette-groups{
        gap: 5px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .palette-item{
        width: 49%;
    }
    .fz30 {
        font-size: 26px;
    }
    .project-image-border-bg img{
        height: 200px;
    }
    .project-image-border-bg {
        padding: 10px;
    }
    .project-photos img{
        height: 200px;
    }
    .twentytwenty-before-label:before, .twentytwenty-after-label:before{
        padding: 0px 10px !important;
        font-size: 14px !important;
        line-height: 23px !important;
    }
    .images-boards img{
        height: 250px !important;
    }
    .service-style{
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }
    .service-image img {
        height: 200px;
        margin: 20px 0 0;
    }
    .project-service img {
        height: 200px;
    }
    .stroke-text{
        font-size: 40px;
        line-height: 50px;
        padding-top: 30px;
    }
    .container-consultation {
        padding-left: 10px;
    }
    .choose_appointment{
        padding: 10px;
    }
    .schedule-check .selection_item label{
        gap: 3px;
        line-height: 18px;
    }
    .consultation-image{
        margin-top: 30px;
    }
    .consultation-image img{
        height: 200px;
    }

}

@media only screen and (max-width:630px) {
}

@media only screen and (max-width: 580px) {
}

/* Extra small devices (min-width:361px) (max-width: 575.98px) // (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {

}

/* (min-width:361px) (max-width:520px) */
@media only screen and (max-width:520px) {

}

/* (min-width:480px) (max-width:500px) */
@media only screen and (max-width:500px) {

}

/* (min-width:361px) (max-width:479px) */
@media only screen and (max-width:479px) {

}

@media only screen and (max-width:414px) {

}

@media only screen and (max-width:400px) {/* ExTra Class Start*/

}

/* (min-width:321px) (max-width:360px) */
@media only screen and (max-width:360px) {

}

@media only screen and (max-width:340px) {

}

@media only screen and (max-width:320px) {

}