@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');

:root {
    --title-font-family: 'Cairo', sans-serif !important;
    --body-font-family: 'Cairo', sans-serif !important;
}
body{
    direction: rtl;
}
.owl-carousel{
    direction: ltr;
}
.iconbox-style1,.apartment-style1{
    direction: rtl;
    text-align: right;
}
.listing-style11{
    direction: rtl;
}
.select2-results__option{
    text-align: right;
}
.ud-btn i{
    margin-right: 10px;
    margin-left: 0;
}
.listing-style11 .list-thumb .img-1{
    left: 0;
    right: inherit;
}
.listing-style11 .list-meta a{
    margin-left: 25px;
    margin-right: 0;
}
.listing-style11 .list-meta span{
    margin-left: 10px;
    margin-right: 0;
}
.funfact_one{
    border-right: none;
    border-left: 1px solid #e6eaed2e;
}
.funfact_list .col-md-3:last-child .funfact_one{
    border-left: none;
  }
.advance-search-field .box-search .icon{
    right: 20px;
    left: inherit;
}
.tp-fun-fact-item h4::after {
    right: -22px;
    left: inherit;
}
.me-2 {
    margin-left: 0.5rem!important;
    margin-right: 0 !important;
}
.img-box-2 {
    margin-right: 30px;
    margin-left: 0;
}
.list-style1 i{
    right: 0;
    left: inherit;
}
.navi_pagi_top_right.owl-theme .owl-dots{
    left: 20px;
    right: inherit;
}
.navi_pagi_top_right.owl-theme .owl-nav{
    left: 0;
    right: inherit;
}
.advance-search-field .select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: right;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    left: 20px;
    right: inherit;
}
.about-box-1 .list-style1 li{
    padding-right: 5px;
    padding-left: 0;
}
.advance-search-field .box-search .form-control{
    padding-left: 0;
    padding-right: 45px;
}
.advance-search-field .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
    padding-right: 45px;
}
.dropdown-toggle::after{
    left: 15px;
    right: inherit;
}

.img-box-4{
    left: -70px;
    right: inherit;
}
.advance-search-tab .tab-content{
    border-radius: 12px 0 12px 12px;
}
.advance-search-field .box-search input{
    padding-right: 50px;
    padding-left: 0;
}
.advance-content-style1 .advance-search-btn span {
    padding-left: 10px;
    padding-right: 0;
}
.pe-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem!important;
}
.ms-4 {
    margin-left: 0 !important;
    margin-right: 1.5rem!important;
}
.ml20 {
    margin-left: 0 !important;
    margin-right: 20px !important;
}
.iconbox-style5{
    left: -50px;
    right: inherit;
}
.ms-2 {
    margin-left: 0 !important;
    margin-right: 0.5rem!important;
}
.social-style1 i {
    margin-left: 8px;
    margin-right: 0;
}
.main-title .sub-title{
    padding-right: 15px;
    padding-left: 0;
}
.main-title .sub-title::before{
    right: 0;
    left: inherit;
}
@media (min-width: 1400px){
    .offset-xxl-1 {
        margin-right: 8.33333333%;
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
    }
}
@media (min-width: 576px){
    .text-sm-start {
        text-align: right!important;
    }
    .text-sm-end {
        text-align: left!important;
    }
}
