

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700;800;900&display=swap');
@import url("../result/bootstrap-icons.css");

body{
    direction: rtl;
}
.owl-carousel{
    direction: ltr;
}
body , p , a, button ,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 ,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-family: 'Cairo', sans-serif !important;
}
a{
    text-decoration: none;
}
p{
font-size: 16px;
font-weight: 400;
line-height: 29.98px;
color:#000;
}
.btn{
padding: 8px 20px 8px 20px;
border-radius: 14px ;
font-size: 14px;
font-weight: 600;
line-height: 26.24px;
transition: all 0.3s ease;
}
.btn-main{
    background: #C3A11B;
    color: #fff;
    border: 1px solid #C3A11B;
}
.btn-border{
    background: #fff;
    color: #C3A11B;
    border: 1px solid #C3A11B;
}
.navbar-brand{
    margin-left: 0;
    margin-right: 0;
    width: 30%;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img{
    width: 227.41px;
    height: 74px;
}
.ms-lg-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.navbar-toggler{
    left: 0;
    right: inherit;
}
.header{
    margin-bottom: 2em;
    background: #002160;
}
.header .navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 300;
    padding-right: 15px !important;
    padding-left: 15px !important;
    line-height: 29.98px;
    color: #fff;
    border-bottom: 2px solid transparent;
}
.navbar-nav .nav-link.active{
    font-weight: 500;
    border-bottom-color: #fff;
}
.carousel-hero .carousel-item img{
    height: 610px;
    object-fit: cover;
object-position: 65% 42%;
    border-radius: 12px;
    width: 100%;
}
.carousel-indicators [data-bs-target]{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #F5F5F5;
    opacity: 1;
    border: none !important;
}
.carousel-indicators .active{
    background: #002160;
}
.main-title{
    color: #C3A11B;
font-size: 30px;
font-weight: 700;
line-height: 56.22px;
margin-bottom: 20px;
}
.section-padding{
    padding: 50px 0;
}
.about-image img{
    width: 100%;
height: 349px;
border-radius: 20px ;
object-fit: cover;
object-position: 65% 64%;
}
.common-card{
    border: 1px solid #C3A11B;
    border-radius: 12px;
    padding: 10px;
}
.common-card img{
    width: 100%;
    height: 340px;
    border-radius: 8px;
    object-fit: cover;
    object-position: 52% 30%;
    margin-bottom: 10px;
}
.common-card img.h-298{
    height: 298px;
}
.common-card .c-title{
color: #000;
font-size: 16px;
font-weight: 500;
line-height: 29.98px;
}
.common-card .c-des{
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    color: #666666;
    margin-bottom: 0;
}
.bank-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.bank-flex p{
    margin-bottom: 0;
    border: 1px solid #C3A11B;
    border-radius: 20px;
    padding: 6px 10px;
    color: #666666;
font-size: 14px;
font-weight: 600;
line-height: 26.24px;
max-width: 104px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.common-card .group-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 0;
}
.common-card .group-btns .btn{
    width: 100%;
}
.text-main{
    color: #C3A11B;
}


   .form-control{
    border: 1px solid #C3A11B;
    background: #F5F5F5;
    border-radius: 14px;
    padding: 10px;
    color: #000;
font-size: 16px;
margin-bottom: 15px;
font-weight: 500;
line-height: 29.98px;
  }
  .contact-form input.form-control{
    height: 50px;
  }
  textarea.form-control{
    height: auto;
  }
  .footer{
    background: #002160;
    box-shadow: 0px 4px 25px 0px #0000001F;
    padding: 40px 0;
  }
  .footer-widget .footer-logo img{
    width: 378.52px;
height: 110px;
  }
  .footer-widget .footer-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 44.98px;
    color: #ffff;
  }
  .footer-widget .footer-links{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }
  .footer-widget .footer-links li ,
  .footer-widget .footer-links li a{
font-size: 15px;
font-weight: 400;
color: #fff;
opacity: 0.8;
line-height: 29.98px;
  }


  
  /* start circle progress */
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), 
                conic-gradient(#C3A11B calc(var(--progress) * 1%), #F5F5F5 0);
    position: relative;
    --progress: 0;
}
.progress-percentage {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    line-height: 22.49px;
}
progress {
    display: none !important;
}
/* end circle progress */
.breadcrumb-item , .breadcrumb-item  a{
color: #000;
font-size: 25px;
font-weight: 700;
line-height: 56.22px;
}
.breadcrumb-item.active {
    color: #000;
}
.breadcrumb-item+.breadcrumb-item::before{
    float: right;
    padding-left: .5rem;
    padding-right: 0;
    color: #000;
}
.breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
    padding-left: 0;
}
.navbar-toggler-icon{
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    justify-content: center;
}
.navbar-toggler-icon svg{
    width: 30px;
    height: 30px;
}
.service-title{
font-size: 24px;
font-weight: 600;
line-height: 44.98px;
color:#C3A11B;
}
.service-subTitle{
    color: #002160;
font-size: 16px;
font-weight: 500;
display: flex;
align-items: center;
gap: 10px;
line-height: 29.98px;
}
.service-subTitle span{
    font-size: 12px;
    width: 22px;
    height: 22px;
    background: #002160;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-terms{
    list-style: none;
    padding: 0;
    margin: 0;
}
.service-terms li{
color: #000;
font-size: 16px;
font-weight: 400;
line-height: 29.98px;
margin-bottom: 5px;
}
.service-terms li:last-child{
    margin-bottom: 0;
}
.service-image img{
    width: 322.62px;
height: 350px;
border-radius: 9.44px ;
}
.bank-flex-style2 {
    margin:50px 0 0;
}
.bank-flex-style2 p{
    max-width: 100%;
    width: 100%;
font-size: 21.91px;
font-weight: 600;
line-height: 41.05px;
}
.bank-flex-style2 .progress-circle {
    width: 78px;
    height: 78px;
font-size: 18.78px;
font-weight: 600;
line-height: 35.19px;
}
.card-method{
    border-radius: 20px;
    padding: 20px;
    box-shadow: -4px 0px 25px 0px #00000014;
}
.card-method .accordion-item{
    border: none;
}
.card-method .accordion-button{
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
font-size: 16px;
font-weight: 500;
color: #C3A11B;
line-height: 29.98px;
}
.accordion-button::after{
    margin-right: auto;
    margin-left: 0;
    color: #C3A11B;
    background-image: none;
    content: '\F286';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'bootstrap-icons';
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
    content: '\F282';
    font-family: 'bootstrap-icons';
}
.method-pay{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px;
}
.card-method-title{
font-size: 16px;
font-weight: 500;
line-height: 29.98px;
color: #C3A11B;
}
.card-method .accordion-body {
   padding: 15px 10px;
}
.method-pay button{
    border: 1px solid #C3A11B;
    height: 50px;
    color: #000;
    position: relative;
    width: -webkit-fill-available;
    font-size: 16px;
    border-radius: 16px;
    font-weight: 500;
    background: transparent;
    line-height: 29.98px;
}
.method-pay button .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #002160;
    color:#fff;
    position: absolute;
    right: -6px;
    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.method-form{
    margin-bottom: 20px;
}
.method-form .form-control{
    height: 46px;
    font-size: 14px;
    margin-bottom: 7px;
}
.nav-about{
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex-direction: column;
    position: relative;
}
.nav-about .nav-link{
font-size: 20px;
font-weight: 700;
color: #666666;
width: 100%;
text-align: right;
line-height: 37.48px;
position: relative;
}
.nav-about .nav-link.active{
    background-color: transparent;
    color: #C3A11B;
}
.nav-about .nav-link.active::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100px;
    left: 0;
    top: 0;
    background: #C3A11B;
}
.nav-container {
    position: relative;
    width: 80%;
}
.progress-bar-vertical{
    background: #D9D9D9;
    width: 3px;
    height: 100%;
    left: 0;
    position: absolute;
    border-radius: 50px;
}
.pb-80{
    padding-bottom: 80px;
}
.contact-image img{
    border-radius: 12px;
    width: 100%;
    height: 455px;
    object-fit: cover;
    object-position: 65% 56%;
}
.background-transparent{
    background: transparent;
}
