/*-----------------------------------------------------------------

-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
Table Of Contents
--------------------------------
 1. Global Styles
 2. Loading
 3. Color Switcher
 4. Navbar
 5. Home
 6. About Me
 7. Services
 8. Skills
 9. Resume
 10. Portfolio
 11. Blog
 12. Contact
-----------------------------------------------------------------*/
/* --------------------------------------
   1. Global Styles
-----------------------------------------*/

@font-face {
	font-family: 'Tajawal Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal Regular'), url('../../fonts/Tajawal-Regular.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal ExtraLight'), url('../../fonts/Tajawal-ExtraLight.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal Light';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal Light'), url('../../fonts/Tajawal-Light.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal Medium'), url('../../fonts/Tajawal-Medium.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal Bold'), url('../../fonts/Tajawal-Bold.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal ExtraBold'), url('../../fonts/Tajawal-ExtraBold.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'Tajawal Black';
	font-style: normal;
	font-weight: normal;
	src: local('Tajawal Black'), url('../../fonts/Tajawal-Black.woff') format('woff');
	}
  body , p , h3 , h4 , h5  , a , button , span , div, input{
	font-family:'Tajawal Regular';
  }
  .portfolio .portfolio-content .item .overlay .item-title{
	font-family:'Tajawal Bold';
  }
* {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -mz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  overflow: hidden;
}
@media (min-width: 1200px) {
  body.demo2 {
    padding: 30px 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body.demo2 {
    padding: 30px;
  }
}
body.demo2 section {
  -webkit-transform: scale(0);
  -mz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transform-origin: 0 0;
  -webkit-transition: transform 0.82s ease 0.82s, opacity 0s ease 0.82s;
  -moz-transition: transform 0.82s ease 0.82s, opacity 0s ease 0.82s;
  -ms-transition: transform 0.82s ease 0.82s, opacity 0s ease 0.82s;
  -o-transition: transform 0.82s ease 0.82s, opacity 0s ease 0.82s;
  transition: transform 0.82s ease 0.82s, opacity 0s ease 0.82s;
}
body.demo2 section.active {
  -webkit-transform: scale(1);
  -mz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.82s ease;
  -moz-transition: transform 0.82s ease;
  -ms-transition: transform 0.82s ease;
  -o-transition: transform 0.82s ease;
  transition: transform 0.82s ease;
}
@media (min-width: 1200px) {
  body.demo2 section {
    height: calc(100vh - 60px);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body.demo2 section {
    height: calc(100vh - 60px);
  }
}
@media (min-width: 1200px) {
  body.demo2 .area-bg {
    height: calc(100vh - 60px);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body.demo2 .area-bg {
    height: calc(100vh - 60px);
  }
}
body.demo2.demo-rtl section {
  transform-origin: top right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

/*=========== Typography ============*/
h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

/*=========== My Classes ============*/
.no-padding {
  padding: 0;
}

.page-content {
  position: relative;
  height: 100vh;
  padding-left: 80px;
}
@media (max-width: 575.98px) {
  .page-content {
    padding-left: 0;
  }
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  -webkit-transform: scaleY(0);
  -mz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transform-origin: center;
  opacity: 0;
  -webkit-transition: transform 0.6s ease 0.6s, opacity 0s ease 0.6s;
  -moz-transition: transform 0.6s ease 0.6s, opacity 0s ease 0.6s;
  -ms-transition: transform 0.6s ease 0.6s, opacity 0s ease 0.6s;
  -o-transition: transform 0.6s ease 0.6s, opacity 0s ease 0.6s;
  transition: transform 0.6s ease 0.6s, opacity 0s ease 0.6s;
}
section.active {
  -webkit-transform: scaleY(1);
  -mz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
  z-index: 1;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
}

.area-bg {
  background-color: #2d2d2f;
  height: 100vh;
}
@media (max-width: 575.98px) {
  .area-bg {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #f1a940;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2d2d2f inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

.main-btn {
  position: relative;
  display: inline-block;
  min-width: 160px;
  color: #f1a940;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  border: 2px solid #353535;
  border-right-color: #2e2e2f;
  border-bottom-color: #2e2e2f;
  border-radius: 16px;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: inset 5px 5px 5px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 5px 5px 5px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 5px 5px 5px #212225,inset -3px -3px 3px #3e3d3d;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.main-btn:hover {
  color: #f1a940;
  -webkit-box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
  -mz-box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
  box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
}

.main-title {
  position: relative;
  margin-bottom: 110px;
}
.main-title h2 {
  position: relative;
  display: inline-block;
  color: #dedddc;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  letter-spacing: .7px;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  .main-title h2 {
    font-size: 23px;
  }
}
@media (max-width: 399.98px) {
  .main-title h2 {
    font-size: 18px;
  }
}
.main-title h3 {
  color: #f1a940;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 10px;
  position: absolute;
  top: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -mz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (max-width: 575.98px) {
  .main-title h3 {
    font-size: 13px;
  }
}
@media (max-width: 399.98px) {
  .main-title h3 {
    letter-spacing: 0;
  }
}

/* --------------------------------------
   2. Loading
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2d2d2f;
  z-index: 9999999;
}
.preloader.hide {
  -webkit-transform: scaleY(0);
  -mz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.preloader.preloader2.hide {
  -webkit-transform: scale(0);
  -mz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.preloader .preloader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 1px;
  background-color: #3b3b3c;
  -webkit-transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.preloader .preloader-item .move {
  position: absolute;
  top: 0;
  left: -50%;
  width: 30%;
  height: 100%;
  background-color: #f1a940;
  -webkit-animation: moving 1s infinite linear;
  -mz-animation: moving 1s infinite linear;
  -o-animation: moving 1s infinite linear;
  -ms-animation: moving 1s infinite linear;
  animation: moving 1s infinite linear;
}

@-webkit-keyframes moving {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
@-moz-keyframes moving {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
@keyframes moving {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
/* --------------------------------------
   3. Color Switcher
-----------------------------------------*/
.switch-button {
  position: fixed;
  top: 29%;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 58px;
  text-align: center;
  z-index: 99999;
  background: #2d2d2f;
  color: transparent;
  -webkit-text-stroke: 1px #f1a940;
  cursor: pointer;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.switch-button.hide {
  right: -100%;
}
.switch-button i {
  font-size: 23px;
}

.switched-styles {
  position: fixed;
  top: 29%;
  right: -100%;
  width: 240px;
  z-index: 9999;
  background: #2d2d2f;
  color: #fff;
  border-radius: 4px 0 0 4px;
  padding: 16px;
  -webkit-box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
  -mz-box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
  box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.switched-styles.show {
  right: 0;
}
.switched-styles h4 {
  display: inline-block;
  color: #bbbab8;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 1;
  font-weight: 600;
  padding: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.switched-styles ul {
  margin-bottom: 0;
}
.switched-styles ul li {
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  -mz-box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  margin: 8px 5px;
}
.switched-styles ul li[data-color="yellow"] {
  background-color: #f1a940;
}
.switched-styles ul li[data-color="aqua"] {
  background-color: #09989e;
}
.switched-styles ul li[data-color="gold"] {
  background-color: #c79864;
}
.switched-styles ul li[data-color="red"] {
  background-color: #dc2e44;
}
.switched-styles ul li[data-color="blue"] {
  background-color: #2181d6;
}
.switched-styles ul li[data-color="green"] {
  background-color: #399863;
}
.switched-styles ul li[data-color="purble"] {
  background-color: #5a63cc;
}
.switched-styles ul li[data-color="rose"] {
  background-color: #c12995;
}
.switched-styles .hide-button {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 34px;
  cursor: pointer;
  color: #bbbab8;
}

/* --------------------------------------
   4. Navbar
-----------------------------------------*/
.vertical-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #2d2d2f;
  -webkit-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  -mz-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 575.98px) {
  .vertical-nav {
    width: 100%;
    height: 70px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .vertical-nav.demo2 {
    top: 30px;
    left: 60px;
    height: calc(100vh - 60px);
    -webkit-box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
    -mz-box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
    box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .vertical-nav.demo2 {
    top: 30px;
    left: 30px;
    height: calc(100vh - 60px);
    -webkit-box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
    -mz-box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
    box-shadow: 3px 0px 3px #212225,-3px 0px 3px #3e3d3d;
  }
}
@media (min-width: 1200px) {
  .vertical-nav.demo2 .mini-menu {
    margin-top: 2vh;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .vertical-nav.demo2 .mini-menu {
    margin-top: 2vh;
  }
}
.vertical-nav .logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 43px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px #f1a940;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 575.98px) {
  .vertical-nav .logo {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
  }
}
.vertical-nav .logo span {
  font-size: 30px;
}
.vertical-nav .toggle-menu {
  background-color: transparent;
  float: right;
  width: 43px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  display: none;
}
@media (max-width: 575.98px) {
  .vertical-nav .toggle-menu {
    display: block;
    width: 50px;
    height: 70px;
    line-height: 70px;
  }
}
.vertical-nav .toggle-menu .bar {
  display: block;
  width: 28px;
  height: 2px;
  background-color: #f1a940;
}
.vertical-nav .toggle-menu .bar:nth-child(2) {
  width: 14px;
  margin: 8px 0;
  margin-left: 7px;
}
@media (max-width: 575.98px) {
  .vertical-nav.menu-active .logo {
    display: none;
  }
  .vertical-nav.menu-active .toggle-menu .bar:first-child {
    -webkit-transform: rotate(45deg) translate(6px, 7px);
    -mz-transform: rotate(45deg) translate(6px, 7px);
    -o-transform: rotate(45deg) translate(6px, 7px);
    -ms-transform: rotate(45deg) translate(6px, 7px);
    transform: rotate(45deg) translate(6px, 7px);
  }
  .vertical-nav.menu-active .toggle-menu .bar:nth-child(2) {
    -webkit-transform: scale(0);
    -mz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .vertical-nav.menu-active .toggle-menu .bar:last-child {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -mz-transform: rotate(-45deg) translate(7px, -8px);
    -o-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px);
  }
}
.vertical-nav .mini-menu {
  margin-top: 4vh;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 70px;
    -webkit-transform: translateY(-100%);
    -mz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.vertical-nav .mini-menu ul {
  margin: 0;
}
.vertical-nav .mini-menu ul li {
  display: block;
  padding: 10px;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu ul li {
    display: inline-block;
    padding: 10px 5px;
    height: 70px;
    -webkit-transform: translateY(-100%);
    -mz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .vertical-nav .mini-menu ul li:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    -mz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .vertical-nav .mini-menu ul li:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    -mz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .vertical-nav .mini-menu ul li:nth-of-type(4) {
    -webkit-transition-delay: 0.3s;
    -mz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .vertical-nav .mini-menu ul li:nth-of-type(5) {
    -webkit-transition-delay: 0.4s;
    -mz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .vertical-nav .mini-menu ul li:nth-of-type(6) {
    -webkit-transition-delay: 0.5s;
    -mz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
}
.vertical-nav .mini-menu ul li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  -mz-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  position: relative;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu ul li a {
    display: inline-block;
    width: 40px;
    margin-top: 5px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
  }
}
@media (max-width: 399.98px) {
  .vertical-nav .mini-menu ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-top: 7px;
  }
}
.vertical-nav .mini-menu ul li a:hover, .vertical-nav .mini-menu ul li a.active {
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu ul li a:hover, .vertical-nav .mini-menu ul li a.active {
    border: 1px dotted #f1a940;
  }
}
.vertical-nav .mini-menu ul li a:hover i:before, .vertical-nav .mini-menu ul li a.active i:before {
  top: 33%;
}
.vertical-nav .mini-menu ul li a:hover span, .vertical-nav .mini-menu ul li a.active span {
  top: 71%;
  opacity: 1;
  visibility: visible;
}
.vertical-nav .mini-menu ul li a i:before {
  color: #f1a940;
  margin-left: 0;
  font-size: 19px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu ul li a i:before {
    position: static;
    -webkit-transform: translate(0);
    -mz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    font-size: 15px;
  }
}
.vertical-nav .mini-menu ul li a span {
  color: #f1a940;
  font-size: 12px;
  letter-spacing: .2px;
  line-height: 1;
  text-transform: lowercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 575.98px) {
  .vertical-nav .mini-menu ul li a span {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .vertical-nav.menu-active .mini-menu {
    -webkit-transform: translateY(0);
    -mz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 575.98px) {
  .vertical-nav.menu-active .mini-menu ul li {
    -webkit-transform: translateY(0);
    -mz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* --------------------------------------
   5. Home
-----------------------------------------*/
.home {
  overflow: hidden;
  background: url(../../images/birdBg.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}
/* .banner{
  position: absolute;
  top: -100px;
  right: -800px;
} */
.home .area-bg {
  position: relative;
  background: rgba(12, 12, 12, 0.5);
}
.home .home-intro {
  /* margin-left: 5vw; */
  text-align: center;
}
.home .home-intro .home-info {
  width: 100%;
}
.home .home-intro h3 {
  color: #e6e5e5;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .home .home-intro h3 {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .home .home-intro h3 {
    font-size: 18px;
  }
}
.home .home-intro h1 {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 800;
  margin: 30px 0;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .home .home-intro h1 {
    font-size: 70px;
  }
}
@media (max-width: 767.98px) {
  .home .home-intro h1 {
    font-size: 55px;
  }
}
.home .home-intro p {
  color: #e6e5e5;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .home .home-intro p {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .home .home-intro p {
    font-size: 18px;
  }
}
.home .home-intro p span {
  color: #f1a940;
}

/* --------------------------------------
   6. About Me
-----------------------------------------*/
.about {
  overflow: hidden;
  overflow-y: auto;
}
.about .about-me {
  padding-top: 60px;
  color: #fff;
}
.about .about-me .main-title {
  text-align: center;
}
.about .about-me .about-image {
  padding: 7px;
  background: linear-gradient(-50deg, rgba(170, 170, 170, 0.1) 45%, transparent 25%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -mz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767.98px) {
  .about .about-me .about-image {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  .about .about-me .about-image {
    margin-right: 30px;
    margin-left: 30px;
  }
}
.about .about-me .about-image img {
  opacity: .55;
}
.about .about-me .about-image img:hover {
  opacity: .65;
}
.about .about-me .about-info h3 {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .7px;
  line-height: 1.6;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
@media (max-width: 575.98px) {
  .about .about-me .about-info h3 {
    font-size: 18px;
  }
}
.about .about-me .about-info h3:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 91px;
  background-color: #f1a940;
}
.about .about-me .about-info > p {
  color: #dedddc;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 25px;
}
.about .about-me .about-info .personal-info {
  margin-bottom: 25px;
}
.about .about-me .about-info .personal-info .about-item {
  line-height: 1;
  margin-bottom: 30px;
}
.about .about-me .about-info .personal-info .about-item h4 {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding-left: 50px;
}
@media (max-width: 575.98px) {
  .about .about-me .about-info .personal-info .about-item h4 {
    font-size: 14px;
  }
}
.about .about-me .about-info .personal-info .about-item h4 span {
  position: absolute;
  top: -9px;
  left: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: #2d2d2f;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  color: #f1a940;
  font-size: 14px;
  letter-spacing: 1px;
}
.about .about-me .about-info .personal-info .about-item h4 span:after {
  content: '';
  position: absolute;
  top: 29px;
  left: 18px;
  width: 2px;
  height: 20px;
  border-left: 1px dotted #f1a940;
  z-index: -1;
}
.about .about-me .about-info .personal-info .about-item:last-of-type h4 span:after {
  content: none;
}

/* --------------------------------------
   7. Services
-----------------------------------------*/
.services {
  padding-top: 60px;
}
.services .main-title {
  margin-bottom: 95px;
}
.services .service {
  position: relative;
  padding: 45px 15px 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 2px solid #353535;
  border-right-color: #2e2e2f;
  border-bottom-color: #2e2e2f;
  -webkit-box-shadow: inset 4px 4px 4px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 4px 4px 4px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 4px 4px 4px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .services .service {
    margin-bottom: 65px;
  }
  .services .service.three {
    border: 1px dotted #f1a940;
  }
  .services .service.four {
    border: 2px solid #353535 !important;
  }
}
@media (max-width: 767.98px) {
  .services .service {
    margin-bottom: 65px;
  }
}
.services .service.two, .services .service.four {
  border: 1px dotted #f1a940;
}
.services .service:hover {
  -webkit-box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
  -mz-box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
  box-shadow: inset 6px 6px 6px #212225,inset -6px -6px 6px #3e3d3d;
}
.services .service .service-icon {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border-radius: 50%;
  background: #2d2d2f;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.services .service .service-icon i:before {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 30px;
  color: #f1a940;
  opacity: .9;
  margin-left: 0;
  -webkit-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  -mz-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
}
.services .service h4 {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: capitalize;
}
.services .service p {
  line-height: 1.8;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  color: #dedddc;
}

/* --------------------------------------
   8. Skills
-----------------------------------------*/
.skills {
  padding-top: 35px;
  padding-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .skills {
    padding-top: 0;
  }
}
@media (max-width: 767.98px) {
  .skills {
    padding-top: 0;
  }
}
.skills .main-title {
  margin-bottom: 55px;
}
.skills .skills-content {
  padding: 25px;
  border-radius: 4px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (max-width: 767.98px) {
  .skills .skills-content .professional-skills {
    margin-top: 30px;
  }
}
.skills .skills-content h3 {
  color: #fff;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.skills .skills-content h3 i {
  display: block;
  color: #f1a940;
  font-size: 20px;
  margin: auto;
  margin-bottom: 8px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.skills .progress-container {
  position: relative;
  margin-bottom: 20px;
}
.skills .progress-container .percent {
  position: absolute;
  top: 0;
  right: 0;
  color: #dedddc;
  font-size: 14px;
}
.skills .progress-container .progress {
  height: 5px;
  background-color: #39393c;
  border-radius: 0;
  margin-bottom: 0;
}
.skills .progress-container .progress .progress-bar {
  background-color: #f1a940;
  width: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.skills .progress-container h4 {
  margin: 0 0 10px 0;
  font-size: 15px;
  color: #dedddc;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

/* --------------------------------------
   9. Resume
-----------------------------------------*/
.resume {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  overflow: hidden;
  overflow-y: auto;
}
.resume .main-title {
  text-align: center;
  margin-bottom: 130px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .resume .resume-content .education {
    margin-bottom: 65px;
  }
}
@media (max-width: 767.98px) {
  .resume .resume-content .education {
    margin-bottom: 65px;
  }
}
.resume .resume-content .education,
.resume .resume-content .experience {
  position: relative;
  padding: 65px 25px 35px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.resume .resume-content .education i,
.resume .resume-content .experience i {
  position: absolute;
  top: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -mz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  border-radius: 50%;
  display: block;
  background: #2d2d2f;
  color: #f1a940;
  font-size: 23px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.resume .resume-content .education i:before,
.resume .resume-content .experience i:before {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  -mz-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
}
.resume .resume-content .education .resume-item,
.resume .resume-content .experience .resume-item {
  position: relative;
}
.resume .resume-content .education .resume-item:not(:last-of-type),
.resume .resume-content .experience .resume-item:not(:last-of-type) {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.resume .resume-content .education .resume-item:not(:last-of-type):before,
.resume .resume-content .experience .resume-item:not(:last-of-type):before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 40%;
  border-bottom: 1px dotted #f1a940;
  height: 1px;
}
.resume .resume-content .education .resume-item .resume-date,
.resume .resume-content .experience .resume-item .resume-date {
  position: relative;
  display: inline-block;
  color: #f1a940;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 24px;
}
.resume .resume-content .education .resume-item span,
.resume .resume-content .experience .resume-item span {
  display: inline-block;
  letter-spacing: 1px;
  color: #dedddc;
  margin: 10px;
  font-size: 15px;
}
.resume .resume-content .education .resume-item h4,
.resume .resume-content .experience .resume-item h4 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  color: #eceaea;
}
@media (max-width: 575.98px) {
  .resume .resume-content .education .resume-item h4,
  .resume .resume-content .experience .resume-item h4 {
    font-size: 16px;
  }
}
.resume .resume-content .education .resume-item p,
.resume .resume-content .experience .resume-item p {
  color: #dedddc;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 0;
}

/* --------------------------------------
   10. Portfolio
-----------------------------------------*/
.portfolio {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff;
  overflow: hidden;
  overflow-y: auto;
}
.portfolio .main-title {
  text-align: center;
}
.portfolio-content .nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;
}
.portfolio-content .nav-tabs .nav-link{
  border: none;
  position: relative;
  background: transparent;
  color: #fff;
}
.portfolio-content .nav-tabs .nav-item:last-child .nav-link::after{
  display: none;
}
.portfolio-content .nav-tabs .nav-link::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  right: 0px;
  top: 18px;
}
.portfolio-content .nav-tabs .nav-item.show .nav-link,.portfolio-content .nav-tabs .nav-link.active{
  color: #f1a940;
  background: transparent;
}
.portfolio .portfolio-content .item {
  position: relative;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 6px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  max-height: 320px;
  overflow: hidden;
  min-height: 320px;
}
.portfolio .portfolio-content .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  -mz-box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
  box-shadow: 3px 3px 3px #212225,-3px -3px 3px #3e3d3d;
}
.portfolio .portfolio-content .item img {
  border-radius: 4px;
	display: block; 
	max-width: 100%;
	height: auto !important;
  display: block;
  width: 100% 
  -ms-interpolation-mode: bicubic;
}
.portfolio .portfolio-content .item .overlay {
  position: absolute;
  top: 20px;
  padding: 100px 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(45, 45, 47, 0.7);
  -webkit-transform: scaleY(0);
  -mz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
.portfolio .portfolio-content .item .overlay .item-title{
  line-height: 15px;
  margin-bottom: 15px !important;
}
.portfolio .portfolio-content .item .overlay small{
  font-size: 12px;
  opacity: 0.7;
}
.portfolio .portfolio-content .item .overlay .item-title,
.portfolio .portfolio-content .item .overlay .item-category span {
  /* position: absolute;
  top: 28%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -mz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block; */
  color: #fff;
  margin: 0;
  font-size: 18px;
}
.portfolio .portfolio-content .item .overlay .icon-img {
  /* position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -mz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  color: #fff;
  font-size: 12px;
  float: right;
}
.portfolio .portfolio-content .item .overlay .icon-img i{
  margin-right: 5px;
}
.portfolio .portfolio-content .item .overlay .item-category a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 50px;
  display: block;
  background: #f1a940;
  color: #fff;
  border: none;
  padding: 10px;
  text-align: center;
}
.portfolio .portfolio-content .item:hover .overlay {
  -webkit-transform: scaleY(1);
  -mz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

/* --------------------------------------
   11. Blog
-----------------------------------------*/
.blog {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  overflow-y: auto;
}
.blog .main-title {
  text-align: center;
}
.blog .post {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog .post .post-img {
  overflow: hidden;
}
.blog .post .post-img:hover img {
  -webkit-transform: scale(1.1);
  -mz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog .post .post-content {
  position: relative;
  padding: 30px 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.blog .post .post-content .post-date {
  color: #f1a940;
  letter-spacing: 1px;
  position: absolute;
  top: -33px;
  right: 5px;
  width: 62px;
  height: 62px;
  padding: 13px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  background: #2d2d2f;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (max-width: 399.98px) {
  .blog .post .post-content .post-date {
    width: 60px;
    height: 60px;
    font-size: 14px;
  }
}
.blog .post .post-content .post-date span {
  display: block;
  line-height: 1;
}
.blog .post .post-content .post-title h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .5px;
  margin: 0 0 5px;
  text-transform: uppercase;
}
@media (max-width: 399.98px) {
  .blog .post .post-content .post-title h4 {
    font-size: 14px;
  }
}
.blog .post .post-content .post-title h4:hover {
  color: #f1a940;
}
.blog .post .post-content .post-text p {
  line-height: 1.8;
  font-weight: 400;
  color: #dedddc;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #333335;
}
.blog .post .post-content .post-more {
  margin-top: 15px;
}
.blog .my-btn {
  text-align: center;
  margin-top: 20px;
}

/* --------------------------------------
   12. Contact
-----------------------------------------*/
.contact {
  padding-top: 60px;
  overflow: hidden;
  overflow-y: auto;
}
.contact .main-title {
  text-align: center;
}
.contact .contact-boxes {
  border-radius: 4px;
  padding: 34px 20px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contact .contact-boxes {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .contact .contact-boxes {
    margin-bottom: 40px;
  }
}
.contact .contact-boxes .contact-box {
  position: relative;
  margin-bottom: 20px;
}
.contact .contact-boxes .contact-box:last-of-type {
  margin-bottom: 0;
}
.contact .contact-boxes .contact-box p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .5px;
  font-weight: 600;
  color: #dedddc;
  margin-bottom: 0;
}
.contact .contact-boxes .contact-box p > i {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  background-color: #2d2d2f;
  color: #f1a940;
  margin-right: 8px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.contact .contact-boxes .contact-box p > i:not(.available):after {
  content: '';
  position: absolute;
  top: 37px;
  left: 21px;
  width: 1px;
  height: 48px;
  border-left: 1px dotted #f1a940;
  z-index: -1;
}
.contact .contact-boxes .contact-box p span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.contact .contact-boxes .contact-box p span a i {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  -webkit-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  -mz-box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
  box-shadow: inset 3px 3px 3px #212225,inset -3px -3px 3px #3e3d3d;
}
.contact .contact-boxes .contact-box p span a i:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  -mz-box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  box-shadow: 2px 2px 2px #212225,-2px -2px 2px #3e3d3d;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.contact .contact-boxes .contact-box p span a .fa-facebook {
  color: #3b5998;
}
.contact .contact-boxes .contact-box p span a .fa-twitter {
  color: #1da1f2;
}
.contact .contact-boxes .contact-box p span a .fa-google-plus {
  color: #db4437;
}
.contact .contact-boxes .contact-box p span a .fa-behance {
  color: #0057ff;
}
.contact .contact-form {
  position: relative;
}
.contact .contact-form .form-group {
  position: relative;
  margin-bottom: 40px;
}
.contact .contact-form .form-group .form-control {
  background-color: #2d2d2f;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #3a3939;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  height: 46px;
  padding: 12px;
}
.contact .contact-form .form-group .form-control:focus ~ label {
  color: #f1a940;
}
.contact .contact-form .form-group .form-control:focus ~ .input-border {
  -webkit-transform: scale(1);
  -mz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.contact .contact-form .form-group textarea.form-control {
  height: 120px;
  resize: none;
  padding-top: 18px;
}
.contact .contact-form .form-group label {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  cursor: text;
  color: #c2c0c3;
}
.contact .contact-form .form-group .input-border {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f1a940;
  -webkit-transform: scale(0);
  -mz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.contact .contact-form .contact-btn:focus {
  -webkit-box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
  -mz-box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
  box-shadow: inset 6px 6px 6px #212225,inset -4px -4px 4px #3e3d3d;
}
.contact .contact-form .form-message {
  position: absolute;
  left: 0;
  bottom: -55px;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  padding: 12px;
  text-transform: uppercase;
}
.contact .contact-form .form-message.success {
  background-color: #37983b;
}
.contact .contact-form .form-message.error {
  background-color: #f54033;
}
.contact .copyright {
  color: #c5c5c5;
  font-size: 15px;
  letter-spacing: 1.3px;
  text-align: center;
  border-top: 1px solid #3a3939;
  margin-top: 60px;
  padding: 25px 0;
}
.contact .copyright a, .contact .copyright i {
  color: #f1a940;
}

.contact .contact-form .form-group .form-control:focus ~ label, .contact .contact-form .form-group input:not([value=""]) ~ label,
.contact .contact-form .form-group textarea:not([data-value=""]) ~ label {
  top: -16px;
  left: 0;
  font-size: 13px;
  letter-spacing: .5px;
}

.main-btn:focus {
  outline: none;
  cursor: pointer;
  color: #f1a940;
}

/*# sourceMappingURL=homepages.css.map */
